[2015-03-19 09:39] argelius opened #1 "Help for `monaca remote build help` doesn't work"
It shows help for `monaca build` :(

[2015-03-19 10:13] #1 closed, assigned to argelius

[2015-03-19 10:13] argelius commented on #1
Solved.

[2015-04-22 04:31] masahirotanaka opened #2 "monaca import initial location"
Currently, monaca import does not have the default value for the directory, thus just hitting Enter will result in messing up the current directory.

I would like to have the project name as the initial directory, and allow the user to edit using cursor and backspace keys.

Moreover, if the directory is already existing, please do not proceed to download to that specific directory but show an erro

[2015-04-22 04:51] argelius commented on #2
Thanks! I will fix this.

[2015-04-23 09:53] argelius opened #3 "Capitalize names in template list"
Template list for `monaca create` doesn't look very good. Fix it!

[2015-04-23 09:53] argelius opened #4 "Update cescription for "monaca create""
Include a list of possible templates

[2015-04-23 10:04] khemry commented on #4
-template list (case sensitivity)
-[config] => [options]
-how to use options

[2015-04-23 10:15] argelius commented on #4
Thanks @khemry !

[2015-04-24 03:36] #4 closed, assigned to nobody

[2015-04-24 03:36] #3 closed, assigned to argelius

[2015-04-24 03:43] #2 closed, assigned to argelius

[2015-04-24 03:55] argelius commented on #2
@masahirotanaka I changed this and some other things suggested by @khemry and bumped to 1.0.1.

[2015-04-24 04:32] khemry opened #5 "monaca plugin"
$ monaca plugin: doesnt list the installed plugin

$ monaca plugin add : I think we need to mention path. github path?

$ monaca plugin search <query> : search for plugin in where? where is that plugin directory? Plugin registry? the description makes it sounds like it's searching in my own local plugin directory which is not true as I tried.

$ monaca plugin rm : how to use this? I tried path, or

[2015-04-24 04:39] argelius commented on #5
Thanks @khemry! I'll take a look at this on Monday.

[2015-04-24 04:40] argelius opened #6 "Upgrade to Cordova 5.0"
Upgrade the dependency to Cordova 5.0 and test.

[2015-04-24 04:41] argelius opened #7 "Support --help"
To get help for a specific commant only

[code]

is valid. I believe `--help` should also be supported but right now it displays the main help text.

[2015-04-24 04:43] argelius opened #8 "Support locale"
- [ ] Add translation support.
- [ ] Localize help texts.
- [ ] Localize internal messages.

[2015-04-24 05:12] khemry opened #9 "monaca run"
$ monaca run : by default how does this work? For example, I have iOS and android platforms installed on my project. Which one will be used?

`--device=FOO` | `--emulator=FOO` | `--target=FOO`    : what to replace that FOO? Please give me some example. It seems like it will run using emulator by default. Is that correct?

[2015-04-24 05:17] khemry opened #10 "monaca serve"
How does this work? According to the description, it sounds like `monaca livesync`. When I tried it, there are many errors.

[2015-04-24 05:23] argelius commented on #10
Oh!

Can you paste the errors?

[2015-04-24 05:24] khemry opened #11 "monaca upload"
when I tried to upload a project, this sentence appears:
"Do you want to continue? (y/N)"

It should be (Y/N), right? As I tried, it's case sensitive.

[2015-04-24 05:25] argelius commented on #9
Thanks @khemry ! I'll add some better description and more examples.

[2015-04-24 05:26] argelius commented on #11
Capital letter implies default choice. I think this is common practice in command line tools.

[2015-04-24 05:26] khemry commented on #10
1. I navigate to my project folder
2. type "monaca serve"
   here is the error:

Installing packages. Please wait. This might take a couple of minutes.
npm
 WARN package.json onsenapp@0.0.0 No description
npm WARN package.json onsenapp@0.0.0 No repository field.
npm WARN package.json onsenapp@0.0.0 No README data

npm
 ERR! Error: EACCES, mkdir '/Users/Khemry/.npm/stylus/0.51.0'

npm
ERR!
  { [Err

[2015-04-24 05:26] argelius commented on #11
But if it's case sensitive that's not correct so I will fix that.

[2015-04-24 05:35] argelius commented on #10
Thanks! It's a permission problem. I will display a better message so the user can fix it.

[2015-04-24 05:37] khemry commented on #11
One more thing, I can upload one project at a time, right?

Let  say I have a folder (projects/) with 2 new projects, can I navigate to "projects/" and use "monaca upload" to upload these two new projects?

As I tried, it failed but the error message is vague:
"Upload failed: EMFILE"

[2015-04-24 05:53] khemry opened #12 "monaca multiserve"
As i notice, `monaca serve` is for the browser while `monaca multiserve` is for Monaca debugger?
I am unable to confirm how `monaca multiserve` works as the process seems to just stuck. It's been 10mn till now. Here is the message:

$ monaca multiserve ibeacon tab_bar

Starting file listening.
Starting HTTP server.
Listening on 10.0.1.12:8001
Starting beacon transmitter.
Waiting for connections fr

[2015-04-24 06:10] argelius commented on #12
Thanks again @khemry!

[2015-04-27 11:14] argelius commented on #11
Fixed.

[2015-04-27 11:14] #11 closed, assigned to nobody

[2015-04-27 11:14] #10 closed, assigned to nobody

[2015-04-27 11:17] #9 closed, assigned to nobody

[2015-04-27 11:17] argelius commented on #12
This works when I try it. Please help me reproduce it, @khemry .

[2015-04-27 11:17] argelius commented on #6
Done.

[2015-04-27 11:17] #6 closed, assigned to nobody

[2015-04-27 11:22] argelius commented on #5
Fixed docs.

I wrote "plugin directory" but I meant "plugin registry".

[2015-04-27 11:22] #5 closed, assigned to nobody

[2015-05-16 13:02] rodolfojnn opened #13 "ENOENT error"
On running "npm install -g monaca", I received the ENOENT error. From npm-debug.log:

81 error Windows_NT 6.1.7601
82 error argv "c:\Program Files\nodejs\node.exe" "c:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js" "install" "-g" "monaca"
83 error node v0.12.3
84 error npm  v2.9.1
85 error path C:\Users\rodolfo\AppData\Roaming\npm\node_modules\monaca:q
86 error code ENOENT
87 error errno -4

[2015-05-16 16:27] rodolfojnn commented on #13
npm install -g monaca@1.0.4 works.

[2015-05-18 05:13] argelius commented on #13
Thank you @rodolfojnn ! I will take a look at this

[2015-05-18 05:35] argelius commented on #13
I've published a working version now. I don't really know what happened but I will be more careful when publishing now :)

Thanks @rodolfojnn !

[2015-05-18 10:25] #13 closed, assigned to nobody

[2015-05-26 06:17] #12 closed, assigned to nobody

[2015-08-10 06:11] masahirotanaka opened #14 "Update to the latest monaca-lib"
Please update to the latest monaca-lib.

[2015-08-10 06:22] masahirotanaka opened #15 "Add automatic "remote build" feature"
Currently `monaca remote build` displays a new window.
Instead of it, please add another remote build options as follows:

[code]

**Available platform:**
- ios
- android
- windows

**Available build type:**
- debug (for iOS, Android and Windows)
- test (for iOS only)
- release (for iOS, Android and Chrome Apps)

**Available options:**
- `--android_webview`
- `--android-arch`

It will call `Monaca

[2015-08-10 06:25] masahirotanaka opened #16 "Fix normal remote build to follow the behavior of Localkit"
Currently Monaca CLI's normal remote build does not sync the project with the cloud. Therefore, please fix it to match the behavior as Localkit.
- Upload the changed files before showing remote build dialog.
- Download the changes after closing remote build dialog. (maybe this part is difficult since the app cannot know when the browser is closed.)

[2015-08-10 06:28] masahirotanaka opened #17 "Rename clone to import"
Currently `monaca clone` is one way sync (just download but no upload). Therefore, please rename it to `monaca import`.

However, please implement `monaca clone` which does download + store the cloud project ID in local so that it knows which project it should be synced to.

Please ask @argelius if you have any question regarding the bahavior.

[2015-08-10 06:30] masahirotanaka opened #18 "Monaca create to choose selection from the cloud"
`monaca create` displays the templates stored in the command line.
Instead of it, please call template API as what Localkit is doing, so that the user can select from the cloud templates.

[2015-08-10 06:39] #14 closed, assigned to JW-Vinayak

[2015-08-11 09:15] masahirotanaka opened #19 "Remove following commands from "monaca help""
Please do not show the following commands when the user types in `monaca` or `monaca help`.
- platform
- prepare
- compile
- run
- build
- emulate
- serve

[2015-08-11 09:28] khemry opened #20 "monaca build description"
Current description: shortcut for compile, then prepare.
Updated description: shortcut for prepare, then compile.

[2015-08-11 10:35] JW-Vinayak commented on #15
Hi @masahirotanaka,

I have partially [implemented](https://github.com/monaca/monaca-cli/commit/5aad84337a59f2eeb2f4a706d5705fde851ab0bd) this. I want to know which method do I use to get the project_id?
- monaca-lib uses _internal_ method `localProperties.get(projectDir, 'project_id')` whenever project_id is needed
- monaca-cli uses `monaca.getProjectId(cwd)` ~~which I think is no longer present

[2015-08-11 12:30] masahirotanaka commented on #15
@argelius Sorry for bothering you. Do you have any idea how to get the Cloud Project ID in this case?

Just let me know if you already for got about it :)

[2015-08-13 10:05] JW-Vinayak commented on #15
Hi @argelius and @masahirotanaka

Please let me know if following flow could be used?

if `monaca.getProjectId(cwd)` doesn't return project id then
- create new project in the cloud using `monaca.createProject()` which will provide new project id
- set this project id locally using `monaca.setProjectId()`
- upload this project `monaca.uploadProject()`
- and finally call `monaca.buildProject()`

[2015-08-13 11:38] masahirotanaka commented on #15
Seems to be correct. I'll ask @argelius and send a feedback to you.

[2015-08-14 03:38] argelius commented on #15
@masahirotanaka @JW-Vinayak

I think this looks correct.

[2015-08-17 01:56] #7 closed, assigned to JW-Vinayak

[2015-08-17 02:00] #17 closed, assigned to JW-Vinayak

[2015-08-17 02:04] masahirotanaka commented on #18
Please additionally fix the following items:

Remove the templates in templates dir.
Remove require() to Localkit since it is unnecessary.

[2015-08-17 02:04] masahirotanaka commented on #19
Sorry my mistake.
Please also hide `info` from the commands.

[2015-08-17 02:06] masahirotanaka commented on #20
I think this description will be not listed anymore in `features` branch.
But `monaca build --help` will display it. Please do a quick fix.

[2015-08-17 02:09] masahirotanaka opened #21 "Ask again if the input is invalid"
Some places in user inputs will halt the command instead of asking the user again.

I noticed that in `monaca import` and hit Enter without specifying project number.
Please find similar places and fix them to ask the user again.

[2015-08-17 02:11] masahirotanaka commented on #15
Please still keep the current implementation if no options are specified.
Currently it looks like `monaca remote build` does not accept without `platform` and `build-type`.
If the user runs remote build without any parameters, simply follow the existing implementation (open a browser to finish the build process).

[2015-08-17 02:33] masahirotanaka commented on #8
Lower priority. Closing the issue for now.

[2015-08-17 02:33] #8 closed, assigned to nobody

[2015-08-17 12:04] JW-Vinayak commented on #21
Hi @masahirotanaka

I have implemented this for `monaca import` and `monaca clone` command. This mechanism is already in place for `monaca create` command.

Apart from number inputs, users are asked for string inputs like destination directory name, y/n for confirm commands; no change is made for such inputs.

[2015-08-18 02:18] #21 closed, assigned to JW-Vinayak

[2015-08-18 02:18] #20 closed, assigned to JW-Vinayak

[2015-08-18 02:18] #19 closed, assigned to JW-Vinayak

[2015-08-18 02:18] #18 closed, assigned to JW-Vinayak

[2015-08-18 02:29] #15 closed, assigned to JW-Vinayak

[2015-08-18 03:53] masahirotanaka opened #22 "Save the package after the build is complete"
Currently it will display a URL to download when the build is complete.
Instead of displaying the URL, please download the package to the working directory by calling `Monaca.getSessionUrl`.

When the file is downloading, please save the file in `build` directory. Also, please display in console where it is saved to.

[2015-08-18 08:05] masahirotanaka opened #23 "Cannot interrupt when running monaca multiserve"
When running monaca multiserve, you cannot stop the app with `Ctrl-c`. Confirmed under Mac OS.

[2015-08-18 08:45] masahirotanaka opened #24 "Fix monaca create to include project name"
When creating a project in `monaca create`, the application name is not reflected in the project.

After creating the project, please modify `config.xml` `<name>` element to include the user specified name. Just don't forget to escape entities before injecting to the XML file.

http://stackoverflow.com/questions/7918868/how-to-escape-xml-entities-in-javascript

[2015-08-19 10:25] JW-Vinayak commented on #24
Hi @masahirotanaka,

If we replace these escape characters manually then it creates a mess. I have used `DOMParser` and `XMLSerializer` from `xmldom` package. It takes care of the escape entities by itself.

E.g.
command `monaca create "vinayak's & <mote>"` inserts `vinayak's &amp; &lt;mote>` into config.xml and a project is created on Monaca Cloud with exact given name once it is uploaded/built.

[2015-08-19 21:38] jdtzmn opened #25 "monaca command not working"
This is what happens when I try running monaca:

[code]

That's all it says. I've also tried `$ sudo monaca` but to no avail...

[2015-08-20 09:33] masahirotanaka commented on #25
It's fixed now and released as 1.2.1.
Thanks so much for the feedback!

[2015-08-20 09:33] #25 closed, assigned to masahirotanaka

[2015-08-20 09:46] masahirotanaka commented on #16
I noticed monaca-cli bundles NW.js, so we can display the remote build dialog using NW.js, similar to what Localkit is doing.

[2015-08-20 09:47] masahirotanaka opened #26 "Remove remote build timeout"
Currently monaca-lib has specified the timeout value to 80 seconds when running an automatic remote build. Please fix monaca-lib so that monaca-cli will keep waiting until remote build is finish.

[2015-08-20 09:50] masahirotanaka opened #27 "Monaca upload sometimes gets the open error"
In some situations, `monaca upload` raises `Error: EMFILE, open 'XXXXX'` error.
It was occurred by one of the user using under Mac OS X, when many additional directories (/test, /jsdoc and like) and files are in the project directory.

Maybe difficult to reproduce, but please see how it will happen, and fix the issue.

[2015-08-20 09:58] JW-Vinayak commented on #26
@masahirotanaka , do you mean we just remove the timeout from monaca-lib and theoretically allow monaca-cli to wait infinitely (worst-case scenario) ?

[2015-08-20 10:07] masahirotanaka commented on #26
Right. Not a big change actually.

[2015-08-20 11:38] JW-Vinayak commented on #27
Hi @masahirotanaka ,

Just went through `uploadProject()` code in `monaca-lib` and found out that it allows only files in /www, /merges and /plugins folders and selected few files in /platforms directory. So this invalidates above mentioned scenario as I have tested it.

I will now test with huge number of files in /www and see if I can replicate the issue.

[2015-08-21 04:20] khemry opened #28 "Imported/Cloned projects have empty project names"
For imported/cloned projects, there are 3 "config.xml" files:
-config.android.xml (empty project name)
-config.ios.xml (empty project name)
-config.xml (default project name)

==> In Monaca Debugger, those projects have no project name.

[2015-08-21 04:43] khemry opened #29 "Clone/Import any projects ==> always get Monaca tunes app"
I tried to clone/import different projects from Monaca Cloud but I always get Monaca Tunes app in my local PC.

[2015-08-21 09:45] JW-Vinayak commented on #27
Hi @masahirotanaka ,

I tested by uploading 1000 `.txt` files and it failed at file no. 234, giving error `Error: EMFILE` ( too many files are open). After I added `qLimit` to code, `monaca upload` works fine irrespective of number of files being uploaded.

[2015-08-21 19:38] jdtzmn commented on #25
The issue is still not fixed... Just updated today

[2015-08-24 10:46] #26 closed, assigned to JW-Vinayak

[2015-08-24 10:47] #27 closed, assigned to JW-Vinayak

[2015-08-24 10:47] #22 closed, assigned to JW-Vinayak

[2015-08-24 10:47] #23 closed, assigned to JW-Vinayak

[2015-08-24 10:47] #24 closed, assigned to JW-Vinayak

[2015-08-24 10:50] masahirotanaka opened #30 "Add option to delete the destination file and directory"
Please add the following options to `monaca upload` and `monaca download` commands.

`--delete`: Will delete the files which does not exist in the destination.
`--dry-run`: Will just display which files will be uploaded/downloaded but no actual file operation.

[2015-08-24 11:23] JW-Vinayak commented on #29
@masahirotanaka

Sorry, I made a variable scoping mistake. Fixed it now.

[2015-08-25 05:58] JW-Vinayak commented on #28
Hi @khemry,

I did not get what the issue exactly is. If a file is imported/cloned then it by default has name of the project in config.xml file and it is sent to debugger properly, I checked it on my device.

[2015-08-25 06:07] khemry commented on #28
Hi @JW-Vinayak,

When I cloned/imported a project into my local PC and run it on Monaca Debugger, it has no project name. Then, I checked config.ios.xml and config.android.xml files. I found tha thet project name is empty. Please refer to the screenshots below.
![config android xml](https://cloud.githubusercontent.com/assets/3192899/9459840/f1bd827a-4b3a-11e5-8be1-c6faab11dd0b.png)
![config ios xm

[2015-08-25 06:13] JW-Vinayak commented on #28
Thanks for this info @khemry. Does this imported/cloned project have config.xml file with actual project name?

[2015-08-25 06:16] khemry commented on #28
@JW-Vinayak :

Yes, there is a config.xml file with actual project name insides www folder of the cloned project.
![screen shot 2015-08-25 at 3 14 55 pm](https://cloud.githubusercontent.com/assets/3192899/9459960/2f07a632-4b3c-11e5-9243-fd054476e150.png)

[2015-08-25 06:20] JW-Vinayak commented on #28
Hi @masahirotanaka

Since these *config.xml files are donwloaded from Monaca cloud, do we fix this issue in monaca-cli or on cloud?

[2015-08-25 06:34] #29 closed, assigned to JW-Vinayak

[2015-08-25 06:43] khemry commented on #28
@JW-Vinayak :

I tried cloning again today and it seems like there is no such issues anymore. Thank you.

[2015-08-25 06:47] #28 closed, assigned to JW-Vinayak

[2015-09-01 23:42] jdtzmn opened #31 "Monaca Command is Still Not Working"
This is what happens when I try running monaca:

$ sudo npm install -g monaca
$ monaca
: No such file or directory

That's all it says. I've also tried $ sudo monaca but to no avail...

**(This time please ask before closing issue so that I can tell you if it is really working).**

[2015-09-02 08:58] masahirotanaka commented on #31
Thanks for the comment.
I actually confirmed it is running well in my Mac OS X environment.

Can you please execute the following commands to see what happens?

[code]

Thanks so much!

[2015-09-04 18:07] jdtzmn commented on #31
[code]

[2015-09-04 22:48] masahirotanaka commented on #31
Looks like you are still using the older version.
Please do

`sudo npm -g install monaca`

to update to the latest version.

[2015-09-06 11:03] jdtzmn commented on #31
[code]

[2015-09-06 11:07] jdtzmn commented on #31
I just tried:
`$ sudo link /usr/bin/monaca /usr/local/lib/node_modules/monaca/bin/monaca`
Then:

[code]

And yet this worked:
`$ /usr/bin/monaca`

Hope this helps!

[2015-09-07 00:39] masahirotanaka commented on #31
What I see is that previously `monaca` command was installed in `/usr/local/bin/monaca`.
However, when you run `npm -g install` it looks like it installs to `/usr/bin/monaca`.
I think this is the main cause of the error.

Therefore, if you do `rm /usr/local/bin/monaca` I think the problem will be fixed.

[2015-09-07 03:52] khemry opened #32 "Failed to Open the Project with Sublime"
I successfully added Sublime in the "Open in ..." feature. However, when I tried opening the project with it, this error occurred (see the screenshot).
![screen shot 2015-09-07 at 12 50 06 pm](https://cloud.githubusercontent.com/assets/3192899/9709028/4f4b0a74-555f-11e5-9083-684a16c49c9f.png)

[2015-09-07 05:07] masahirotanaka commented on #32
Vinayak, please take a look at it.

[2015-09-07 06:43] JW-Vinayak commented on #32
Hi @khemry,

Can you please provide more details like which version of sublime text (2 or 3) you added manually?  and what are the arguments that you used? A screenshot is much appreciated.

P.S. This issue belongs to monaca_localkit repository.

[2015-09-07 06:45] khemry commented on #32
Hi @JW-Vinayak,

OMG. Sorry I placed the issue in the wrong repository. >.<
I'll move it there and provide you more information regarding this issue.

[2015-09-07 07:00] #32 closed, assigned to JW-Vinayak

[2015-09-07 09:09] JW-Vinayak commented on #16
Hi @masahirotanaka

I tried some basic applications that run with node webkit runtime using syntax `nw /path/to/application`.

When the same code (example is given below) is ran from monaca-cli, it couldn't find the required modules and context.
`var nwGui = require('nw.gui');`
 `var aboutWindow = nwGui.Window.open('about.html', params);`

If we managed to write a separate nw application that just

[2015-09-09 00:43] jdtzmn commented on #31
I fixed it by:

[code]

[2015-09-09 00:43] #31 closed, assigned to masahirotanaka

[2015-09-09 00:45] masahirotanaka commented on #31
Congrats!

[code]

Maybe this can be fixed by running the following command:

[code]

[2015-09-15 01:44] masahirotanaka opened #34 "Add option to force upload or download the files without asking the user"
Currently, `monaca upload` and `monaca download` prompts the user to ask if it is okay to continue.
Please add `--force` option so that it will not prompt in that case.

[2015-09-15 09:30] #34 closed, assigned to JW-Vinayak

[2015-09-15 09:31] #30 closed, assigned to JW-Vinayak

[2015-09-18 06:48] khemry opened #36 ""monaca download --delete" is not working as intended"
"monaca download --delete" is supposed to delete local files which are not existed on Monaca Cloud. However, it doesn't do anything regarding those locally existed files. It seems like it can't detect those files. Please confirm this.

[2015-09-24 04:36] JW-Vinayak commented on #36
Hi @khemry,

Can you please tell me if you are talking about any specific file that `monaca download --delete` is not deleting or is it not deleting at all?

Screenshot of your folder structure will be appreciated. Also please make sure that you have not mentioned those files/folders in `.monacaignore` file

[2015-09-28 02:23] khemry commented on #36
Hi @JW-Vinayak :

So here is how this issue happens:
1. I cloned a Memo Application from Monaca Cloud.
2. Then, I added a new local file inside Memo Application, called "new_local.html".
3. I added a new file, called "test.html" in the Memo Application in Monaca Cloud.
4. When I run "monaca download --dry-run --delete" in my local PC, it is supposed to show

[code]

However, it seems like it could

[2015-09-28 06:34] JW-Vinayak commented on #36
Hi @khemry,

I just tried the scenario you mentioned at it works as expected as shown below.
![screen shot 2015-09-28 at 11 58 33 am](https://cloud.githubusercontent.com/assets/5630856/10129145/95f349b2-65d8-11e5-8900-cac839daf66e.png)

Please make sure that you have not written any rule in `.monacaignore` file which is not allowing this file to be deleted.

[2015-09-28 06:37] khemry commented on #36
Hi @JW-Vinayak :

Hmmm... Now I don't understand why it doesn't work correctly in my PC. I've not written any rule in .monacaignore file.

Where can I find .monacaignore file?

I tried to re-install monaca cli and re-do the same scenario again. It is still not deleting the local file.

[2015-09-28 06:45] JW-Vinayak commented on #36
`.monacaignore` is created by user if he/she wants some files to be ignored while upload and download operations.

Well another area to look for would be to make sure that your monaca-cli is pointing to correct/latest version of monaca-lib.

[2015-09-28 06:46] khemry commented on #36
@JW-Vinayak

I re-installed monaca cli. It still doesn't fix this.
Its version is 1.2.4

[2015-10-01 06:04] JW-Vinayak commented on #36
Hi @khemry,

Please try pointing monaca-cli to monaca-lib version 1.1.6. Please refer to this [change log](https://github.com/monaca/monaca-lib/commit/f9be8a1a07a5c458193796d4518ac0d9d479ef6c).

[2015-10-01 06:52] argelius commented on #36
Hi @JW-Vinayak @khemry

I debugged it quickly on Khemry's machine.

I saw that at this line:
https://github.com/monaca/monaca-lib/blob/master/src/monaca.js#L1449
the `allowFiles` variable was just an empty string. This means that it will never remove any files regardless of what you do.

I also took a look at the `_filterIgnoreList()` method and it looks like it will always return an empty list.

[2015-10-01 10:14] JW-Vinayak commented on #36
Hi @argelius,

Thank you for pointing out the bug, I have fixed it in this [pull request](https://github.com/monaca/monaca-lib/pull/29).

[2015-11-13 09:07] argelius opened #37 "Verify that it's working in Node 5"
Test that it works in Node 5 and resolve issues.

[2015-12-16 08:16] andipavllo commented on #37
Tested with Node 5.2.0, it seems working fine

[2015-12-16 08:22] #37 closed, assigned to nobody

[2015-12-17 04:52] #36 closed, assigned to JW-Vinayak

[2016-04-14 07:01] #16 closed, assigned to nobody

[2016-04-14 07:13] masahirotanaka opened #44 "Provide sign up feature"
As per the discussion, I'd like to add sign-up feature in Monaca CLI.
Please contact @asialmakki for the details about the API.

Command line usage:

[code]

In case of other command that requires login:

[code]

[2016-04-14 10:16] frandiox commented on #44
@masahirotanaka Ok! I will do this right after finishing the tutorial features :)

[2016-04-18 05:13] frandiox commented on #44
@asialmakki Where can I check the information about the signup API?

[2016-05-09 03:15] #44 closed, assigned to frandiox

[2016-05-13 05:10] argelius opened #47 "Update README.md"
The current README.md is a bit outdated and doesn't reflect the latest version.

[2016-05-19 06:27] knight9999 opened #48 "monaca plugin add command has a problem."
`monaca plugin add` command does not work.
`monaca plugin add` command calls plugman of cordova.

However, for android, the version check is necessary. This is done by using
`platforms/android/cordova/version' file which is absent in Monaca project.

Further, for iOS, the plugman checks whether the `platforms/ios` is Xcode project or not.
I do not know the detail. At least `.xcodeproj` file must b

[2016-05-19 06:53] masahirotanaka commented on #48
Thank you
How about modify and add the plug-in to project_info.json if it is not a Cordova project? I still want to use plugman if it is a Cordova project.

On May 19, 2016, 8:27 AM, at 8:27 AM, Kenichi Naito notifications@github.com wrote:

[2016-05-20 15:10] masahirotanaka opened #49 "monaca create installs build dependency all the time"
monaca create installs build dependency all the time.
I hope it will be skipped if they are installed already.

[2016-05-20 15:13] masahirotanaka opened #50 "Think of way to setup project from github"
It is a bit unsure how the user should do when using a project cloned from GitHub. Maybe it is useful if we enhance `monaca clone` to specify each repository or project, and setup dependencies based on the project configuration.

Cloning from GitHub:
 `monaca clone https://github.....`

Cloning from Monaca Cloud
`monaca clone https://monaca.mobi/projects/.....`

[2016-05-24 18:35] frandiox commented on #49
@masahirotanaka Bryan and me were talking about this issue some weeks ago. I think he preferred to let `npm` do the job due to some problems while checking dependencies versions.
I think it's possible to check the version if we include the `package.json` instead of the actual dependency while doing the check. I'll make a PR in monaca-lib repository.

[2016-05-25 02:05] #49 closed, assigned to nobody

[2016-05-25 13:37] frandiox commented on #50
@masahirotanaka In my opinion, maybe CLI should send the link to the backend and import the project from Github to Monaca Cloud adding necessary Monaca files to the project and then download it.
Another possibility is to do it on CLI's side but I guess it's better if the backend is the one adding Monaca files and stuff since it would be also needed when we support react/etc in Cloud IDE.
Perhaps C

[2016-05-31 11:39] #47 closed, assigned to nobody

[2016-06-10 16:00] frandiox opened #55 "monaca preview --no-open"
@masahirotanaka Please have a look at #53 and tell me your opinion. Maybe we can avoid opening browsers by defult and open it with `-o`?

[2016-06-13 00:48] masahirotanaka commented on #55
I saw it. I think it's better to open the browser by default (preserving the current default for now). However, I think it makes more sense if doing some work to print out a message in the command line to hint the user how to prevent the browser from opening.

[2016-06-13 02:41] frandiox commented on #55
@masahirotanaka Do you mean you want to implement some kind of `--no-open` parameter?

[2016-06-13 02:58] masahirotanaka commented on #55
Yes, I think his proposal of adding `--no-open` (and `-no`) makes sense.

[2016-06-13 07:27] #55 closed, assigned to nobody

[2016-07-03 11:12] sijad opened #60 "monaca remote build command problem"
when I try `remote build android` or `remote build ios` I get this:

[code]

tried with both node v6.2.2 and v4.4.7

[2016-07-04 02:20] frandiox commented on #60
@sijad Thank you for the report, this will be fixed for the next release.

[2016-07-05 20:39] svdoever commented on #60
Having the same with `monaca signup`, `monaca login` etc. only `monaca preview` is working.
I use NodeJS version 6.2.1.

[2016-07-07 02:30] frandiox commented on #60
This has been fixed in [monaca-lib 2.0.6](https://github.com/monaca/monaca-lib). This will be included in the next CLI version after some more tests.

[2016-07-11 02:47] frandiox commented on #60
@sijad @svdoever This should be fixed in the last release we made a couple days ago. Please confirm it :)

[2016-07-11 02:47] #60 closed, assigned to nobody

[2016-07-11 07:16] erickhsiao opened #63 "monaca preview keep blank"
when I preview, it keeps blank, nothing showing in browser
However I can see requests go through (cli) server, and no error occur
If I upload and run in emulator, changes shows, and works fine.

[2016-07-11 10:43] erisu commented on #63
@erickhsiao: I have a few question:

What type of environment do you have?
1a. Operating System (Windows, Mac, or Linux)
1b. Monaca Cli Version

Has the previewer work before with this project?

If the previewer worked before, about what type of changes were made before the previewer stopped working. For example: Upgrading Cli?

What was the projects base template type? For example: React, Angular

[2016-07-11 14:19] erickhsiao commented on #63
1a. linux
1b. 2.0.5

I never use cli before, so this is first try, but project works on web ide too.

base template would be Onsen UI v1

[2016-07-12 06:57] erisu commented on #63
@erickhsiao: So far, I have been unable to reproduce this issue locally.
I configured an environment with Ubuntu 16.04, Monaca Cli version 2.0.5, and created a new project using the Onsen UI v1 minimum & navigator template.

Does the browser print out any error, warning, or other type of messages in the browser's developer tools console window?

[2016-07-13 06:18] erickhsiao commented on #63
oh, I've tested with browser on mac, and it works.
I was testing on ipad with safari, chrome, and some others, and they all display blank.
The only one I finally "make it happen" was puffin.
But I think we need to fix the display on ipad's browsers.

[2016-07-18 20:51] wildabeast opened #65 "cannot find module http-server when running monaca preview"
When I create a monaca app from the cli and run `monaca preview` I get `cannot find module http-server`. Running node 4.4.7, monaca 2.0.5.

Here's my full trace:

[code]

and in case its useful, my monaca installation trace:

[code]

[2016-07-19 03:24] erisu commented on #63
@erickhsiao: Can you provide me the exact steps you took to create this issue? Including which template you used etc.

So far, with the recent steps I took, provided below, I am still unable to reproduce the issue.

**My last set of steps:**
1. On Ubuntu 16.04 installed the latest Monaca CLI version 2.0.5 `npm install -g monaca`
2. Created new project `monaca create test1`
3. Change directory to p

[2016-07-19 08:33] frandiox commented on #65
@wildabeast Hello and thanks for the report! `http-server` should be installed the first time you run `monaca preview` since it's only used for that. Therefore it makes sense it does not appear in the original monaca installation trace.

I guess there were some permission errors when `http-server` was installed. We'll check it and try to reproduce it but meanwhile you can just install `http-server

[2016-07-28 06:32] geohuz opened #67 "Where can I find the log file"
I got error when using monacan preview, but I'm not able to find the log:

[code]

could somebody help me out?

Thanks!

[2016-08-22 05:31] masahirotanaka commented on #67
@geohuz We just published new Monaca CLI (Version 2.1.0). Can you please check if the latest version works? We switched to using webpack-dev-server if it is running with React and Angular 2.

[2016-08-22 05:33] masahirotanaka commented on #65
@wildabeast Is the error still produce on your environment? We just released a new Monaca CLI (Version 2.1.0). Hope the new version will solve out.

[2016-08-25 09:04] #65 closed, assigned to nobody

[2016-08-25 09:39] #67 closed, assigned to masahirotanaka

[2016-08-25 09:40] frandiox commented on #63
Closing this issue as we haven't been able to reproduce it. Please try the last version and open it again if you have anything else to add.

[2016-08-25 09:40] #63 closed, assigned to erisu

[2016-08-25 09:41] frandiox commented on #50
This has been added to `2.1.2` with `monaca create projectName --url https://github.com/profile/repo/archive/master.zip`

Only Monaca projects are importable for now.

[2016-08-25 09:41] #50 closed, assigned to nobody

[2016-09-01 11:18] cassola commented on #63
remove and reinstall nodejs

[2016-09-08 07:20] wildabeast commented on #65
Sorry for not following up guys! Got swamped in my github notification emails.

Anyhow I tried both installing http-server independently, as well as uninstalling and then installing 2.1.0 -- the error persisted. However since I seem to be alone in seeing this, I think we can safely say this is something wonky in my npm environment. Thanks both for the responses!

[2016-09-26 13:31] rdlabo opened #73 "don't build really file with 'monaca serve'"
現在、`$monaca preview`と`$monaca transpile`で明確に役割が分かれており、
- preview時はLiveLoadが働くものの実在ファイルは生成されない
- transpile時は、実在ファイルが生成されるが、LiveLoadされない

という状態になっています。しかし、PWAの流れを受けて今後「一旦、Webアプリを公開して、同様のものをハイブリッドアプリでつくる」需要が高まることを考えると、この二者を分けることには明確なメリットはなく、以下の2つの問題を抱えています。
- 最新Chromeでエレメント生成ができないように、同様のことが起きると当該ブラウザでは確認しようがない
- 初心者からすると、「見えてるファイルは、実在ファイルだと思う」

---

そこで、
- preview は、LiveLoad + 実在ファイルのbuild
- transpil

[2016-09-27 08:57] asial-matagawa commented on #73
@erisu @masahirotanaka @frankdiox @andipavllo

I have translated and summarized the issue message from Japanese to English.

**ISSUE SUMMARY**

[2016-09-27 09:06] asial-matagawa commented on #73
I will translate English to Japanese (and Japanese to English), so please feel free to write replies in English.

[2016-09-28 12:10] asial-matagawa commented on #73
@rdlabo

本件について @masahirotanaka, @frankdiox と相談した結果をお伝えします:
- `monaca preview` の仕様は、現在 `monaca preview` の内部で利用している webpack-dev-server の仕様に引きずられている
- そのため webpack-dev-server が「実在ファイルを生成しない」という仕様である以上、**デフォルトの** `monaca preview` を「LiveLoad + 実在ファイルのbuild」という仕様にすることはできない
- **オプションとして** なら「LiveLoad + 実在ファイルのbuild」の実装は可能であるため、実装を検討する
  - その際は webpack-dev-server 以外のローカル HTTP サーバを立ち上げることになる
- webpack-dev

[2016-09-28 13:33] #73 closed, assigned to nobody

[2016-10-06 22:46] tiagojco opened #74 "[TypeError: object is not a function]"
When issuing

i get the above mentioned output.
installed via sudo npm install -g monaca

Environment:
ubuntu 14.04
node 0.10.25
npm 1.3.10
monaca 2.1.3

I don't really know how to provide a more detailed "stacktrace". Maybe if someone can guide me.

[2016-10-07 01:13] frandiox commented on #74
@tiagojco Can you try with a more updated version of Node? Perhaps some dependencies don't work with 0.10.25. I think 0.12.x was fine, but 4+ works for sure.

[2016-10-07 17:41] tiagojco commented on #74
0.10.25 is the default node version in the ubuntu 10.04 package manager
after installing node 4 via nvm it worked

thanks

[2016-11-11 05:23] #74 closed, assigned to nobody

[2016-12-14 09:54] mishra93mohit opened #76 "Cannot find module 'source-map' when I run monaca preview"
Hi Guys,

When I try running monaca preview it shows me error 'cannot find module source-map'. I installed the module manually but still issue persist.

![capture](https://cloud.githubusercontent.com/assets/10059688/21177463/54582b4e-c211-11e6-9a01-23416a09aea6.PNG)

Please let me know if there is any work around or fix for this.

Thanks

[2017-03-10 07:57] tiibun opened #77 "plugin add command doesn't add plugin to project_info.json"
Hi,
I did `monaca plugin add cordova-plugin-camera`,
And `monaca upload`.
But Camera Plugin is not enabled in monaca cloud IDE.
I think the plugin name should be added .monaca/project_info.json.

- Version
2.1.7
- OS
Windows10

Thanks

[2017-03-10 19:12] gabmontes opened #78 "Use Webpack 2.x instead of 1.x"
When executing ´monaca create´, ´webpack@1.13.1´is installed and used in the project.

Are there any chances or plans to upgrade ´monaca´ to ´webpack@2´?

[2017-03-15 06:54] frandiox commented on #78
@gabmontes We will update to Webpack 2 but it might take some time.

[2017-03-16 14:07] #78 closed, assigned to nobody

[2017-03-21 03:28] asial-matagawa opened #79 "WARNING:./android/base/files/IniFile.cpp:155:Failed to process .ini file"
Reported by @fWd82 in https://github.com/OnsenUI/OnsenUI/issues/1879 .

[2017-04-26 14:46] Grsmto opened #80 "Webpack - Use dev config instead of prod config on monaca debug"
Hi,

First thanks for the good work, Monaca seems really cool so far.
I'm working on an app in React with the Webpack template and I noticed that `monaca debug` is using the production environment (ie webpack.prod.config.js).
It should use the development environment so the build would be much faster for development (live-reloading), from my tests build goes from 30s to 0.5s by disabling the minif

[2017-04-27 00:47] frandiox commented on #80
@Grsmto Hey, thanks for the feedback! I think the main reason why Monaca uses production version is that it needs the generated files in the filesystem. Development keeps everything in memory to make it faster, so it wasn't possible to transfer the files to the device.

If I don't remember wrong, the first build was kind of slow, from 10 to 40 seconds depending on your machine, but the subsequent

[2017-05-26 07:57] Youdaman opened #83 "webpack failed to compile for Vue.js monaca preview"
Steps to repro:

1. monaca create test
2. choose "Onsen UI and Vue.js"
3. choose any of the templates
4. cd test
5. monaca preview (or any of the commands)

Expected:

See a preview of the app.

Actual:

Webpack failed to compile, here's the output:
[code]

[2017-05-26 08:41] Youdaman commented on #83
Seems to be a problem with cordova looking at the above error messages, so I'm currently blowing away my npm modules (including cordova), updating Node and re-doing npm install -g monaca to see if I can resolve the issues.

[2017-05-26 08:45] Youdaman commented on #83
Nope, webpack build still fails, will investigate to see if anyone else is having the issue with the cordova module and webpack.

[2017-05-26 10:46] Youdaman commented on #83
Another thing to note was the errors are to do with svg files. Will compare Vue.js with Angular/React monaca templates to see if they have the same problem, or if not, what they do differently in their webpack configs (assuming that's the problem)

[2017-05-26 10:48] Youdaman commented on #83
Angular template doesn't use webpack, but React does and works fine, so looking into differences with Vue.js template

[2017-05-26 10:50] Youdaman commented on #83
Seems the Vue.js templates can't be fetched, hangs at "Downloading template..."
[code]

[2017-05-26 10:59] Youdaman commented on #83
Found the problem. The file `node_modules\onsenui\css-components-src\src\components\search-input.css` tries to load some svg images that don't exist.

Solution: copy the same file from the same location within a React template project over to your Vue template project and then `monaca preview` etc just works.

Bottom line, the Vue.js template for the Monaca CLI is broken due to a bad/broken search

[2017-05-30 05:54] asial-matagawa commented on #83
@Youdaman
Thank you for reporting & investigating!
@Youdaman
Thank you for reporting!
I fixed this issue in monaca/monaca-lib#105.

Closing this.

[2017-05-30 05:54] #83 closed, assigned to nobody

[2017-05-30 07:46] misterjunio opened #84 "Vue DevTools"
Create a new Monaca project with the Vue minimum template and then run `monaca preview`. Chrome does not pick up the Vue DevTools extension. I found out that by removing `webpack-dev-server/` from the URL the extension is enabled but this is a bit of a pain and I don't know if it doesn't possibly break other things.

[2017-05-30 08:37] frandiox commented on #84
@misterjunio `/webpack-dev-server/` is an iframe! Can you try this solution? https://github.com/vuejs/vue-devtools/issues/203

[2017-05-31 03:03] misterjunio commented on #84
@frandiox like I said removing `webpack-dev-server/` from the URL works and apparently it keeps the hot reloading and all, just thought there would be some Webpack config with which that wouldn't be necessary. The `{inline: true}` trick didn't work but I guess it's fine then. Thanks 😄

[2017-05-31 03:03] #84 closed, assigned to nobody

[2017-06-06 04:26] humblecoder commented on #48
I'm having an issue as well.  We need some consistency in the way this is used.  It seems that I often receive "Error: cordovaProject.projectConfig.getFileResources is not a function" when using "monaca plugin add", however I can use "cordova plugin add" just fine.  Also, I find it unclear whether to use both or stick to one.

[2017-06-06 04:57] andipavllo commented on #48
`monaca plugin` and `cordova plugin` are actually the same command. The
issue is probably related to the cordova version. Right now monaca-cli uses
`cordova ^5.0.0`, while your local cordova version could be different. In
general, we suggest you to stick with `cordova plugin add`, we will think
about how to refactor `monaca plugin` in order to keep it more consistent.

2017-06-06 13:26 GMT+09:00 M

[2017-06-06 04:58] andipavllo commented on #48
`monaca plugin` and `cordova plugin` are actually the same command. The
issue is probably related to the cordova version. Right now monaca-cli uses
`cordova ^5.0.0`, while your local cordova version could be different. In
general, we suggest you to stick with `cordova plugin add`, we will think
about how to refactor `monaca plugin` in order to make it more consistent.
Sorry for the trouble.

[2017-06-14 15:11] hirbod opened #92 "Debugger not working with 2.2.4"
Hi,

I've wasted like 5 hours to get the debugger working - just figured out the crash happened due to update to 2.2.4 (can't get project information error)

It just freezed for minutes. After downgrading to 2.2.3, everything works as expected

[2017-06-14 15:19] andipavllo commented on #92
We will immediately check it and provide a fix as soon as possible. Sorry for the trouble.

[2017-06-14 15:21] hirbod commented on #92
Just as a sideinfo: it did not work in any project, not even in newly created demo apps like splitter or tabs etc.

[2017-06-14 15:23] hirbod opened #93 "Monaca Emulate iOS"
Just query:

[code]

Just removed custom-config plugin, same issue!

[2017-06-15 03:45] andipavllo commented on #92
@Hirbod I just fixed this and released CLI 2.2.5
Please let me know if you still have any problem.

[2017-06-15 03:45] #92 closed, assigned to andipavllo

[2017-06-18 16:50] gg4u opened #95 "cannot install monaca npm"
I was giving it a try from onsen.io:

`sudo npm install -g monaca`

but:

[code]

[2017-06-19 03:44] andipavllo commented on #95
@gg4u this is not a `monaca-cli` issue but it's likely related to your local environment. In general, you don't really need to use `sudo` so you could try omitting it.
If it does not work, please try to execute `sudo npm install -g monaca --unsafe-perm`
[Here](https://stackoverflow.com/questions/18136746/npm-install-failed-with-cannot-run-in-wd) you can find a deeper explanation about the possible

[2017-06-19 08:55] gg4u commented on #95
Hi @andipavllo thank you for replying, I wanted to install globally and used `sudo`.

I tried with with unsafe permissions `--unsafe-perm`, but not worked out, still cannot find the file:

[code]

[2017-06-20 12:13] gg4u commented on #95
ok
npm uninstall -g monaca
npm install -g monaca

worked for me.

[2017-06-21 02:48] andipavllo commented on #95
Glad to hear that, I'll close the issue.

[2017-06-21 02:48] #95 closed, assigned to nobody

[2017-06-22 13:10] skapin commented on #83
Thank you a lot @Youdaman

[2017-07-12 06:59] waynethompson opened #104 "monaca_config.json missing after install"
After installing the cli on a Windows10 machine and running any of the monaca commands I get the error

Looking in the .cordova folder I can see monaca.json

I copied monaca.json to monaca_config.json and the error was fixed.

[2017-07-31 05:25] andipavllo commented on #104
This is very weird. Could you please tell us how did you install `monaca-cli`? Was it the first time or you were upgrading?

[2017-07-31 05:48] waynethompson commented on #104
It was a new install on windows 10 using npm.

I have a machine that I have just reinstalled the latest windows 10 so I will try to replicate the problem.

[2017-07-31 05:51] andipavllo commented on #104
Thanks! Please let us know how it goes.

[2017-07-31 05:56] andipavllo commented on #93
`monaca emulate` is actually the same as `cordova emulate` and uses the built-in Cordova CLI (6.2) in Monaca CLI.
It seems that Cordova CLI 6.2 has the same bug reported for multiple commands that are platform related. For example, take a look at the [following issue](https://issues.apache.org/jira/browse/CB-12633).
One solution would probably be to install the latest Cordova CLI and execute `cord

[2017-07-31 05:56] #93 closed, assigned to nobody

[2017-08-05 00:45] waynethompson commented on #104
A similar error happened after a new install on osx.

I notice after running the command the file exists but only contains a blank object
{}

I tested on Ubuntu 17.04 and noticed the same behaviour so without looking at the code I asume that is what it is meant to do.

Now I am testing on Windows 10 again

![monaca error](https://user-images.githubusercontent.com/6680492/28991443-008fc6ee-79cb-11e

[2017-08-07 03:31] andipavllo commented on #104
Yeah, an empty object is the correct behavior. I will try to make reproduce the issue on Windows and let you know. In the meanwhile, please check if your current authenticated user has WRITE privilege in the .cordova dir location.

Update: just tried to perform a fresh installation on Windows 10 by using Powershell and had no issues. The file was correctly created.

[2017-09-02 09:37] dipbhi opened #109 "Error during login and signup"
monaca cli version: 2.4.1
OS: Windows 10

Below errors are being returned by login and signup commands
Login generates ENOTFOUND error
Signup generates ECONNREFUSED error

Screenshot is attached as a reference.
![monaca error](https://user-images.githubusercontent.com/12301512/29994581-62fb8d3c-8ff0-11e7-8a5d-74b6714ec77a.png)

[2017-09-11 19:06] hirbod opened #110 "how to make console.log working?"
Since I've installed monaca, I can't get any console.log inside of Safari Debugger.
All I see are error messages on "monaca://log"

The cordova console plugin doesn't work either. What can I do? Thanks!

[2017-09-13 09:56] andipavllo commented on #109
Did you set up an API endpoint by mistake or have problems with the internet connection? Did you try using another network?
To reset the API endpoint run `monaca config endpoint --reset`

[2017-09-13 09:58] andipavllo commented on #110
I don't think that's related to Monaca CLI. How are you serving your project and what kind of project are you exactly debugging?
I suggest you to contact the Monaca Support [here](https://monaca.io/service/)

[2017-09-13 09:58] #110 closed, assigned to nobody

[2017-09-13 09:59] andipavllo commented on #104
Closing this for now, feel free to provide additional information in case you are still encountering the issue.

[2017-09-13 09:59] #104 closed, assigned to nobody

[2017-09-13 10:01] andipavllo commented on #77
Sorry for the late reply.
In order to use the plugins in Monaca Cloud you should add them directly in the cloud environment and need a [paid plan](https://monaca.io/pricing-detail.html).
You can run `monaca remote build --browser` and navigate to the Cordova Plugin management page.

[2017-09-13 10:01] #77 closed, assigned to nobody

[2017-09-13 10:03] andipavllo commented on #76
We made some changes to the embedded HTTP Server recently, could you please try again with the latest version of Monaca CLI?

[2017-09-13 10:33] dipbhi commented on #109
Thank you very much. This command fixed it for me.

monaca config endpoint --reset

I don't recall setting API endpoint but cannot be sure if it got set unintentionally while creating a sample app.

[2017-09-13 10:33] #109 closed, assigned to nobody

[2017-09-21 03:02] pzxie opened #113 "how to set eslint config?"
I have tried to add eslint-loader in the monaca project, but it is not useful.
here is my eslint-loader config in webpack.config.dev.js
[code]
and I add an eslintrc.js in the project,but is useless too.
so ,how to add eslint in the project ?
Thank you!

[2017-09-24 03:22] pashute opened #114 "Monaca create VUE minimal template: err style-loader\0.13.1"
I did a Monaca create with VUE minimal template.

I'm using npm -v: 5.4.2 (node installed: 8.5.0 win64 on windows 10 and  onsenui 2.4.2)

npm ERR! tar.unpack untar error C:\Users\pashute\AppData\Roaming\npm-cache\style-loader\0.13.1\package.tgz

Installing build dependencies...
npm WARN package.json @ No description
npm WARN package.json @ No repository field.
npm WARN package.json @ No README dat

[2017-09-25 10:31] samma89 opened #115 "Webpack failed to compile Monaca preview - React"
Hi gys,
I have recently updated React(15.6.1) , OnsenUI(2.6.0) , react-onsenui(1.6.0) and webpack(3.x) and now monaca preview or monaca transpile commands does not working. It giving me below errors.

Module not found: Error: Cannot resolve 'file' or 'directory' ../img/ios-search-input-icon.svg in /Users/crowderia/Documents/myapps/MyExetel/node_modules/onsenui/css-components-src/src
 @ /Users/crow

[2017-09-25 10:35] samma89 commented on #115
I have also upgraded monaca-cli to version 2.4.2. My node version is  7.2.1. Still the issue is there.

Operating system is OSX.

![image](https://user-images.githubusercontent.com/2077773/30804689-f5f33220-a20b-11e7-89fa-c8a10a9ba25b.png)

[2017-09-25 11:38] samma89 commented on #115
Got it solved by adding 'postcss-url' into webpack.

if anyone has the same issue, please add the below lines to webpack config file and your gold.
add this one at the top.
`var postcssUrl = require(path.join(cordovaNodeModules, 'postcss-url'));`

update postcss value as below:

`postcss: function() {
    return [
      postcssImport,
      postcssUrl,
      cssnext({
        browsers: ['> 1%', 'l

[2017-09-25 11:39] #115 closed, assigned to nobody

[2017-10-19 03:32] hanaokaiwa opened #117 "Unable to run monaca preview on monaca 2.4.4"
I updated to monaca 2.4.4 today and I cannot run monaca preview anymore.
Here is the output of console:
$ monaca preview
{ Error: Cannot find module '/mnt/program/monaca/sample4-13/package.json'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at /home/da

[2017-10-19 03:49] andipavllo commented on #117
@hanaokaiwa does it work if you run the command in the project root directory?

[2017-10-19 06:15] andipavllo commented on #117
I just released CLI 2.4.5 with a fix, please notice that you can run `monaca preview | serve | transpile | demo` only in the project root directory. We will fix this in the next release.

[2017-10-19 06:24] #117 closed, assigned to nobody

[2017-10-19 11:38] hanaokaiwa commented on #117
Thank you very much for release of version 2.4.5.
I confirmed this bug has been fixed on version 2.4.5.

[2017-10-31 21:48] pashute opened #119 "Monaca 2.4.6 is not running vue templates while 2.4.1 is"
Monaca 2.4.6 is not running vue templates, while 2.4.1 cli is.
I saw that vue-onsenui was not properly working so did npm outdated and updated/installed all latest npm packages.

I then run `npm install` and after that `monaca preview`  and get `import error  - in babel`

Do I need to downgrade?

I run ok with monaca 2.4.1 cli. My packages read

    {
        "name": "onsenui-v2-vue-minimum",

[2017-11-01 06:28] pashute commented on #119
I now know 4 experienced VUE programmers (besides myself) that regrettably are moving back to ionic because they can't run vue-onsenui projects.

See here for an example: (on the features/wireframe branch) : https://github.com/pashute/noam.vue098/tree/features/wireframe

[2017-11-01 07:16] andipavllo commented on #119
I invite you to check the changelog of the dependencies you are updating. These templates use `vue-loader 11.0.0` but you are updating to`13.x`, which introduces some [breaking changes](https://github.com/vuejs/vue-loader/releases/tag/v13.0.0). You may want to adjust your project configuration after checking the official documentation, [here](https://github.com/OnsenUI/OnsenUI/commit/edd78ca283ed4

[2017-11-01 07:19] #119 closed, assigned to nobody

[2017-11-01 12:13] pashute commented on #119
will check and see.

[2017-11-08 21:06] Elfoslav opened #120 "monaca create onsenui-react one line index.html"
I created a project with command:

    monaca create onsenui-react

Then I chose category `Onsen UI and React` and template `Onsen UI V2 React Navigation`

When I opened www/index.html I saw this:

    <!DOCTYPE html> <html> <head> <meta charset=utf-8> <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"> <meta http-equiv=Content-Security-Policy content

[2017-11-08 21:25] #120 closed, assigned to nobody

[2017-11-15 20:22] pashute opened #121 "Monaca cli broken on latest nodejs and npm"
nodejs 8.5.0
npm 5.4.2

Monaca Create:  I get an error message `Error in getting project templates list:500`
In a project made on a different pc: Monaca Preview gives:
Project preview failed: Cannot find module 'C:\Users\Win\.cordova\node-modules\webpack'

npm install -g webpack works but installs it to C:\Users\Win.
There is a .cordova path...

Notes:
* I'm installing on a system with ionic, so C

[2017-11-16 03:23] andipavllo commented on #121
We acknowledge the template issue and are working on a fix. It's actually not related to node/npm but it's a backend issue. It's requiring you to be logged in while that should not be necessary. As a temporary workaround, just run `monaca login` and you should be able to access the template list.

For the webpack issue, Monaca uses its own version so running `npm install -g webpack` will not affec

[2018-01-04 02:40] munsterlander opened #122 "Remote builds with crosswalk fail for Android."
Based on this thread, https://community.onsen.io/topic/1868/build-is-successful-but-postbuild-fails-crosswalk-getusermedia-and-trackstarterror there is an error with crosswalk builds via the Cloud IDE.

[2018-01-04 02:42] munsterlander opened #123 "Release build doesn't honor config.xml with custom-config plugin per docs"
So based on this thread, https://community.onsen.io/topic/1871/release-build-removes-camera-permission with the custom-config plugin and the Cloud IDE, on a release build, the CAMERA permission is never added to the AndroidManifest.xml.  Other permissions do make it though.

[2018-01-24 14:25] kmfreas opened #124 "Select a template - previews don't work"
Just letting you know the previews don't work when you are picking a template for Onsen UI and Vue.js. I got to them by running monaca create example and selecting Onsen UI and Vue.js.

Here's an [example](https://template.monaca.mobi/onsenui-v2-vue-splitter/)

[2018-01-31 07:20] andipavllo commented on #124
I just tried to preview the template you mentioned and it seems working fine. What issue did you encounter?

[2018-01-31 07:22] andipavllo commented on #123
@munsterlander sorry for the late reply. This isn't really a CLI issue. Would you mind contacting directly Monaca Support at the following [link](https://monaca.io/support/technical/)? Thank you very much.

[2018-01-31 07:22] #123 closed, assigned to nobody

[2018-01-31 07:23] #121 closed, assigned to nobody

[2018-01-31 07:24] andipavllo commented on #122
@munsterlander sorry for the late reply. This as well isn't really a CLI issue. Would you mind contacting directly Monaca Support at the following [link](https://monaca.io/support/technical/)? Thank you very much.

[2018-01-31 07:24] #122 closed, assigned to nobody

[2018-01-31 15:15] kmfreas commented on #124
Huh, it just doesn't load for me, I get a blank white screen. Thinking it may be just me, I opened it up in browserstack but the same issue happens.
![selection_010](https://user-images.githubusercontent.com/1760767/35630413-587ea2cc-066f-11e8-80b6-70df202b0697.jpg)

[2018-02-01 13:13] pashute commented on #121
Sadly, this was a show-stopper and I currently moved off Monaca.

[2018-02-02 08:28] berrg opened #125 "Could not install latest"
npm install -g monaca@
npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
npm ERR! path C:\Users\Morten\AppData\Roaming\npm\node_modules\monaca\node_modules\npm\node_modules\ansistyles
npm ERR! code ENOENT
npm ERR! errno -4058
npm ERR! syscall rename
npm ERR! enoent ENOENT: no such file or directory, rename 'C:\Users\Morten\AppData\Roaming\npm\node_modules\monaca\node_modules\npm\node_mo

[2018-02-15 13:05] tehg00se commented on #125
Same issue

`npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall rename
npm ERR! enoent ENOENT: no such file or directory, rename '/usr/local/lib/node_modules/monaca/node_modules/npm/node_modules/ansistyles' -> '/usr/local/lib/node_modules/monaca/node_modules/npm/node_modules/.ansistyles.DELETE'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A c

[2018-02-18 07:25] DarkPurple141 commented on #125
+1.  Exact same issue.

[2018-02-19 00:48] fabiendeborde commented on #125
Same problem here.

[2018-02-19 08:33] erisu commented on #125
There is currently an open bug ticket with NPM around this install issue.

https://github.com/npm/npm/issues/17444

The current workaround is to uninstall before installing the newest version.

[code]

[2018-04-22 19:32] softwareishappiness opened #127 "Does monaca-cli work on Ubuntu Linux?"
We would seriously consider Monaca if the LocalKit CLI officially works on Linux.

[2018-05-01 21:09] JstnPwll opened #128 "Debugger refuses to connect"
It's not clear whether this is an issue with the cli or the Android app, but I'd at least appreciate knowing where to look next. Here's what I've done:

- I have installed the latest monaca cli on my PC (2.7.0)
- I have installed the latest monaca debugger Android app on my phone (7.0.2)
- I have completely disabled firewall on my PC
- I connected my PC and phone to the same WiFi access point
- As

[2018-07-04 07:55] corycaywood opened #131 "Add concurrent remote building of multiple platforms"
The `monaca remote build` command currently only accepts one platform as an argument. It would be more convenient if it could build multiple platforms at once, i.e. `monaca remote build android ios`.

**Who:** App developers using Monaca CLI.
**What:** Want to build more than one platform concurrently.
**Why:** It is faster and more convenient to build all platforms concurrently than to run the re

[2018-07-04 07:58] corycaywood opened #132 "Add option for saving build logs to file"
The Monaca CLI doesn't currently provide a way of viewing build logs when using `monaca remote build`. In order to view the log, the app developer must login to the Cloud IDE and find the build. It would be more convenient if the log could be downloaded via Monaca CLI.

**Who:** App developers using Monaca CLI.
**What:** Want to save the Monaca build logs to the machine which is running Monaca CLI

[2018-07-04 08:00] corycaywood commented on #131
Hi @masahirotanaka : We would like to work on integrating these features. What do you think about this feature and the suggested criteria?

[2018-07-04 08:00] corycaywood commented on #132
Hi @masahirotanaka : We would like to work on integrating this. What do you think about this feature and the suggested criteria?

[2018-07-05 00:18] NemoOudeis commented on #48
@andipavllo
if that's the case why is there even a `monaca plugin add`?

[2018-07-05 07:32] yong-asial commented on #131
hi @corycaywood
That's a good idea. We would be really appreciated if you can create a PR and we will then review and merge it.

[2018-07-05 07:33] yong-asial commented on #132
hi @corycaywood
That's a good idea. We would be really appreciated if you can create a PR and we will then review and merge it.

[2018-09-05 05:03] isaacetukudo commented on #125
thank u @erisu, it worked for me...

[2018-10-18 09:51] incoming-th opened #140 "Command monaca preview is not working"
Hi,

I've updated a project from monaca cli 2 to 3. All seems fine, but when I tried monaca preview it just backs to the command line, nothing happened.

Did I missed a step?

![2018-10-18 003278](https://user-images.githubusercontent.com/26375917/47146310-01df4f80-d2f6-11e8-85cf-4b0347a4c8e1.png)

Log of the update processes:

![2018-10-18 003279](https://user-images.githubusercontent.com/2637591

[2018-10-21 17:41] joeflack4 opened #141 "Documentation or fixes when using Create React App"
I started w/ a _Create React App_ app, and then tried to apply Monaca.

Now I'm getting:

[code]

I found a probable solution here: https://github.com/facebook/create-react-app/issues/2352

They're basically saying I shouldn't have webpack in my package.json if I'm using Create React App. I see that I do have it there. I'm assuming this came with Monaca.

[2018-10-21 19:22] joeflack4 opened #142 "Should not default with a license"
## Current behavior
After creating a monaca app `monaca create FOLDER`, there is a `LICENSE` file, the license being an MIT license.

## Expected behavior
There should be no license when creating a monaca app. Or, during setup, it should ask if the user wants a license.

[2018-11-10 16:45] KhanIshaq opened #144 "Error in getting project templates list: 500"
Unable to create monaca project using command line
When running the below command, getting 500 error response
$ monaca create TestApp
Error in getting project templates list: 500

Monaca Version - 3.0.3
Node Version - 8.12.0
NPM Version - 6.4.1

[2018-11-11 02:55] yong-asial commented on #144
@KhanIshaq  Could you try relogin (`monaca logout` and `monaca login`) first before trying running the command (`monaca create TestApp`).

[2018-11-11 03:08] yong-asial commented on #140
@MickaelTH after running `monaca update`, it created 3 main files - `monaca_preview.js`, `webpack.dev.new.config.js` and `webpack.dev.prod.config.js`. Your updated `package.json` might look similar to the following:
[code]
Thus, by default running the command `monaca preview` will maily running the script `monaca_preview.js` and `webpack` with the new file configuration `webpack.prod.new.config.js

[2018-11-11 03:15] yong-asial commented on #141
@joeflack4 Could you provide me with more information?

However, with the latest version (`monaca@3.x`), a new command `monaca init` is added to migrate the projects from other platforms. Please refer to the step-by-step guidelines to migrate your React app - https://docs.monaca.io/en/products_guide/migration/react_migration/

[2018-11-22 19:05] KhanIshaq commented on #144
@yong-asial   I have updated monaca to latest version using npm -g install monaca@3.0.4
Executed the command "monaca login" with my credentials
After successful login, I am able to create project using the command "monaca create TestApp"

Thanks

[2018-11-29 05:10] #144 closed, assigned to nobody

[2018-11-29 10:04] yong-asial commented on #127
@softwareishappiness Sorry for the late reply.  `monaca-cli` is working fine on Linux. And I've just managed to build the `Monaca Localkit` in linux version. You can download it here - https://github.com/monaca/Localkit/releases/download/3.1.1/monaca-localkit_3.1.1_amd64.deb

Other Localkit distributions: https://github.com/monaca/Localkit/releases

[2018-11-30 01:23] #125 closed, assigned to erisu

[2018-11-30 18:15] joeflack4 commented on #141
Hello Yong. Sorry, I forgot to close this issue! I did find out about monaca 3.x and it is working great!

[2018-11-30 18:15] #141 closed, assigned to nobody

[2018-12-03 10:04] Cawet2 opened #146 "Error in monaca debug with Framework 7 Vue template (work fine in monaca preview mode)"
Hi,
I've got an issue when running some test app in the monaca debug android App, with the templates "Framework 7 vue Webpack" and "Framework 7 vue Simple".
They perfectly work in the preview mode .

[code]
-> work fine in the browser
[code]
-> this error is throw in the debug App :
`'Uncaught SyntaxError: missing ) after arguement list
www/vendors~app.bundle.js:1 `

I tested with the "no framewor

[2018-12-05 02:40] yong-asial commented on #146
Hi @Cawet2 ,
May I know which version of `monaca-cli` and `monaca-debugger` you are testing with? If it is not the latest, could you try testing it again with the latest version?

[2018-12-05 13:30] Cawet2 commented on #146
monaca-debugger : 7.0.9
monaca-cli : 3.0.4
if needed :
nvm : 10.7.0 (npm 6.4.0).

I don't think it's from the debugger, I get a white screen after compiling with your tool and then install the .pkg on my phone.

Here is my package.json after creating a project with the "Framework 7 Vue Webpack" template :
[code]
I tried to debug a little bit by myself by disabling all optimisation and minification

[2018-12-06 04:20] yong-asial commented on #146
Hi @Cawet2 ,
Is the error result from the unmodified `Framework 7 Vue Webpack` template? I could not really reproduce it.

I think you have written some codes that causing the building issue. You may try following to debug it:
1) run `monaca transpile` or `npm run build` to compile your apps into `www` directory
2) If there are some errors during the transpiling/compiling process, the error should

[2018-12-06 09:12] Cawet2 commented on #146
Yep, I tried the debugger right after created the app, like so :
[code]
I already try to replace manualy the ES6 syntax for this line, but this just bring me to the next ES6 line, and anyway fixing code in the compiled source sound impractical^^.

I'm new to the hybridApp's world to, but I believe that  hybridapp use some kind of part from native browser of the OS to run the source code ? like chr

[2018-12-06 09:41] Cawet2 commented on #146
Sometime simply explaining the problem help to go further :)

I the app.js file, I replace the imported framework 7 bundle file version by the minified version, then I installed the babel/polyfill lib and added it at the very beginning  of the app.js file :

[code]
and... it's work ! \o/

Before to close the issue, have you got any idea  what ES6 syntax didn't work for me ?

[2018-12-11 04:25] yong-asial commented on #146
hi @Cawet2 ,
sorry for the late reply. I'm glad you've fixed it.

Anyway, it seems to me that your android version doesn't support ES6. Also, thank a lot for pointing it out about Framework 7's ES6. It seems that we have to modify either the babel config or webpack config in order to transpile Framework 7 esm module (See [this](https://framework7.io/docs/installation.html#es-next) for more informa

[2019-01-15 09:18] #146 closed, assigned to nobody

[2019-01-23 17:55] janpio opened #148 "CLI hangs"
Tried to sign up via CLI:
![image](https://user-images.githubusercontent.com/183673/51626639-4820fc00-1f40-11e9-82da-a2714495e33e.png)

Found out via web UI I need a longer password, no change:
![image](https://user-images.githubusercontent.com/183673/51626681-638c0700-1f40-11e9-88bc-88836320d2eb.png)

Ctrl+C also doesn't let me escape the command - I have to restart my console.

[2019-01-23 17:59] janpio commented on #148
(Your signup website also has Japanese text for the terms)

[2019-01-23 18:05] janpio commented on #148
Ok, maybe it is not just the signup, project creation also hangs (and doesn't respond to Ctrl+C):

![image](https://user-images.githubusercontent.com/183673/51627242-c7fb9600-1f41-11e9-8e6a-b96fb7edc6c8.png)

[2019-01-23 18:26] janpio commented on #148
Maybe it really are all the interactive commands that require some input?

![image](https://user-images.githubusercontent.com/183673/51628232-c2537f80-1f44-11e9-91c7-8b8868153e9f.png)

[2019-03-01 16:40] suebphatt commented on #63
ahem, sorry for bumping this fossil-ish topic, but since i still stumble into this problem in 2019 and found a workaround (not a fix, though) please let me post it here.

in the Monaca project directory:
`npm install -g webpack`
`npm install -g webpack-serve`
`webpack-serve`

then go to your browser and access `http://localhost:8080` because `http://0.0.0.0:8080` is not working and i totally have

[2019-03-02 18:27] suebphatt commented on #148
Could you please inform if there is any update/workaround on this issue?
I also run into this issue in the latest version of Monaca and also cannot successfully run `Monaca preview` (on Windows 10 only)

Related? but so old >> #63

[2019-03-25 20:21] JeremyShafer commented on #148
I have this same problem.  Frustrating!

[2019-03-26 01:44] yong-asial commented on #148
@janpio @JeremyShafer
The interactive commands (of project creation) are currently not supported on windows. For example, as in the suggested message, please run `monaca create --help` to see more create option i.e running `monaca create myProject --template blank` will create project with a blank template. Other interactive commands should be working properly. In addition, exiting the programming

[2019-04-11 06:09] yong-asial commented on #148
@janpio @JeremyShafer
We've just able to reproduce the issue on Windows (Node: 10.x). This problem will be fixed with this PR #149. Please download the latest version `3.1.2`. Feel free to let us know if you still experience the error.

[2019-04-11 06:09] #148 closed, assigned to nobody

[2019-04-27 08:45] garchomp-game opened #150 "Could not execute (monaca demo)"
In the latest version of monaca-cli 3.1, the (monaca demo) command could not be executed. For this reason, I downgraded the version and is currently checking with monaca-cli 2.4. I want you to be able to execute even the latest version.

[2019-05-15 07:34] yong-asial commented on #150
As you can see from version 3, we have decoupled the logic of previewing and transpiling (building) to `package.json` as in `monaca:preview` and `monaca:transpile` script. You can easily create your own version of `monaca demo` script.
You can re-create it from our design here - https://github.com/monaca/monaca-cli/archive/2.7.14.zip (pages/demo/index.html)

[2019-05-15 07:34] #150 closed, assigned to nobody

[2019-10-26 21:10] bytedeveloperr opened #155 "Cordova Plugins not working in monaca"
please help!
I installed cordova-plugin-file with
`monaca plugin add cordova-plugin-file`
then after i used
`alert("Folders" + cordova.file)`
but it doesn't work
![Screenshot_2019-10-26-20-57-42](https://user-images.githubusercontent.com/48928718/67626002-74560a00-f83d-11e9-91bd-86944926f625.png)

[2019-10-29 05:24] yong-asial commented on #155
@jupiter-mic It is working normally. You just need to stringify the object. Try testing with following code snippet
[code]

[2020-07-01 20:35] blgsyrmhnds opened #158 "TMS-90809: Deprecated API Usage - New apps that use UIWebView are no longer accepted. Instead, use WKWebView for improved security and reliability"
Bug Report
Problem
We have updated the Cordova iOS library to the latest version in package.json ("cordova": "^9.0.0")
and the tag

<preference name="WKWebViewOnly" value="true"/>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine"/>
    <feature name="CDVWKWebViewEngine">
      <param name="ios-package" value="CDVWKWebViewEngine"/>
    </feature>
was added to the config.xml.

a

[2020-07-02 01:20] yong-asial commented on #158
@blgsyrmhnds

Have you tried the following steps?

- Select "Configure -> App Settings for iOS" from the IDE header menu and update the item "WebView Engine" to "WKWebView".
- For the build environment, select the menu "Build-> Build Environment Settings..." and set "iOS 5.1.1" and "Xcode 11.3".
- Select "Configure -> JS/CSS Components Settings..." and update Monaca Core Utility to version 2.1.0

[2020-07-30 06:37] TRANHV-VFA-DO-NOT-USE commented on #158
@yong-asial i follow your step and build, then i stuck by this error:

[code]

[2020-08-17 12:41] lroal opened #161 "Problem with framework7-vue-webpack"
Can you please upgrade the template framework-vue-webpack to the latest framework7 ?
It does not seem to work after upgrading the framework7 and framework7-vue. I am getting lots of warnings when running it. And it does not build.
I think it would be great if the update procedure of framework 7 was documented in the template. Is it enogh to run npm update on framework7 and the icons ? And then cop

[2020-09-03 03:40] yong-asial commented on #161
@lroal I have ported the framework7-vue template to Monaca-compliant template here - https://github.com/yong-asial/framework7-vue-splitter. You can give it a try first.

Otherwise you can wait until I release the official one to Monaca later.

[2020-09-03 05:20] lroal commented on #161
That is great ! I will test it by the END of the day.

[2020-09-09 04:48] yong-asial commented on #161
@lroal We are getting closed to release to production for both monaca-cli and monaca cloud IDE. You also could try clone it from this official repo https://github.com/monaca-templates/framework7-vue-split-view as well.

[2020-09-09 04:51] yong-asial commented on #158
@vfa-tranhv Sorry for late reply. It seems it is the build issue. many things could cause the problems. For better support, could you submit us the ticket here - https://monaca.io/support/technical/

[2020-09-11 00:35] MahmoudSharkawy opened #163 "Failed to install template dependencies.nsupported platform for fsevents@2.1.3"
sorry i new learning what the problem?

[code]

[2020-09-11 02:32] yong-asial commented on #163
@iMAHMOD It seems that you are on windows. At the moment, we could not reproduce the problems in our environment. we have tried with Node 10.x, 12.x, and 14.x.

First thing first, the warning is that it could not install `fsevents` package as it doesn't need for windows environment but it should not be the problem.

However, from the build log, there seems to be problem with `cordova-lib` package.

[2020-09-12 11:50] MahmoudSharkawy commented on #163
i Have Node 12 on Win10
[code]

same problem after `monaca init`

[2020-09-14 02:05] yong-asial commented on #163
@iMAHMOD

Could you tell us the error?

You didn't mention you have problem with `npm install`. So i assume it went well, right?

[2020-11-27 15:06] maurovanetti opened #165 "«Warning: Accessing non-existent property '…' of module exports inside circular dependency»"
Any monaca command I launch, I get a whole series of warnings about a circular dependency.
The command works perfectly.

For instance, by calling _monaca info_ I get:

[code]

[2020-11-30 02:02] yong-asial commented on #165
@maurovanetti Thank you for reporting. This is the known issue. This warning is caused by using Node >= 14.x version in which we, Monaca, haven't supported yet.

[2020-12-08 05:21] yong-asial commented on #165
@maurovanetti i have just released the version 3.3.8 to resolve this warnings. Please check it out.

[2021-01-31 19:57] j4hangir opened #168 "Remote build doesn't have `debugger`"
The only options are:

![image](https://user-images.githubusercontent.com/7769125/106396224-efc24600-6406-11eb-975f-8eb7890592e6.png)

Why's `debugger` version not enlisted though?

[2021-02-10 06:24] #165 closed, assigned to nobody

[2021-02-10 06:25] #161 closed, assigned to nobody

[2021-02-10 06:25] #158 closed, assigned to blgsyrmhnds

[2021-02-10 06:25] #155 closed, assigned to nobody

[2021-02-10 06:26] #140 closed, assigned to nobody

[2021-02-10 06:26] #127 closed, assigned to nobody

[2021-02-10 06:27] #76 closed, assigned to nobody

[2021-02-10 06:27] #48 closed, assigned to nobody

[2021-02-16 04:17] yong-asial commented on #168
@j4hangir we have supported it `debugger` build now for both iOS and android.

- `monaca remote build --browser` --> then at least build `debugger` once in the cloud (for example, select proper certificate and settings)
- next time, you can just run `monaca remote build android --build-type=debugger` or `monaca remote build ios --build-type=debugger`

[2021-06-04 16:34] maurovanetti opened #173 ""Your project is missing splash screens and/or icons" with remote build ios"
Whenever I call `monaca remote build ios` on a Monaca project I get the following error message:

The icons and splash screens are actually there, though, and I can build the project from the Monaca Cloud IDE with no issues.

[2021-06-18 02:46] yong-asial commented on #173
@maurovanetti Thank you for reporting. We have fixed the problem now. Please try again.

[2021-06-18 09:24] maurovanetti commented on #173
Great! The remote build is working again now.

[2021-06-18 09:24] #173 closed, assigned to nobody